@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
.heading{
    margin: 20px 0;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 12px solid;
    font-weight: 700;
}
.container{
    margin: 20px;
    font-family: Oswald;
}